@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    background-color: rgb(8, 8, 8);
    color: rgb(238, 228, 228);
}

nav {
    background-color: rgb(242, 28, 145);
    height: 90px;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    display: block;
    font-size: 20px;
    font-family: 'Lemon', serif;
}

h1 {
    font-family: 'Lemon', serif;
    margin-left: 480px;
    font-size: 58px;
    position: absolute;
    text-align: center;
    box-shadow: 0px 2.5px 2.5px rgb(244, 239, 239);
    border-radius: 20px;
    display: block;
    color: rgb(15, 14, 14);
}

h2 {
    font-size: 19px;
    margin-left: 1200px;
    margin-top: -10px;
    color: black;
    letter-spacing: 1.5px;
    columns: 2;
}



.wp {
    margin: 5px;
    font-family: 'Lemon', serif;

}

.is {
    margin: 5px;
    font-family: 'Lemon', serif;
}

a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 6px;
    text-decoration: none;
    margin: 10px;
}





.img-maq {
    width: 400px;
    border-radius: 30px;
    position: relative;
    left: 530px;
}

footer {
    margin-left: 600px;
    font-size: 21px;
    color: rgb(255, 255, 255);
    font-family: 'Lemon', serif;
    position: relative;
    top: -17px;

}


p {
    position: fixed;
    top: 440px;
    left: 40px;
    font-size: 18.5px;
    line-height: 25px;
    font-family: 'Courier New', Courier, monospace;
    text-indent: 1.5em;

}

video {
    width: 260px;
    position: fixed;
    bottom: 312px;
    border-radius: 35px;
    left: 17px;
    top: 100px;


}

.formb {
    width: 100px;
    height: 25px;
    border-radius: 20px;
    background-color: rgb(242, 28, 145);
    border: none;
    color: white;
    font-size: 17px;
    cursor: grab;
    position: fixed;
    margin-left: 1270px;
    margin-top: -40px;



}

.form {
    width: 155px;
    height: 22px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: text;
    margin-left: 1100px;
    position: fixed;
    margin-top: -40px;

}


h3 {
    color: aliceblue;
    position: fixed;
    bottom: 500px;
    margin-left: 1100px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}


.listas {
    color: rgb(228, 234, 234);
    margin-left: 1200px;
    position: fixed;
    bottom: 300px;
}

#p {
    width: 400px;
    margin-left: 1000px;
}





@media screen and (min-width:300px) and (max-width:900px) {
    nav {
        background-color: rgb(242, 28, 145);
        height: 155px;
        width: 370px;
        text-decoration: none;
        border: none;
        border-radius: 20px;
        display: inline-block;
        font-size: 8px;
        font-family: 'Lemon', serif;
    }



    h1 {
        font-family: 'Lemon', serif;
        margin-left: 60px;
        font-size: 29px;
        top: 50px;
        position: absolute;
        text-align: center;
        box-shadow: 0px 2.5px 2.5px rgb(244, 239, 239);
        border-radius: 20px;
        display: block;
        color: rgb(7, 7, 7);
        text-align: center;

    }


    h2 {
        font-size: 12px;
        margin-left: 12px;
        margin-top: 57px;
        color: black;
        letter-spacing: 0.5px;
        columns: 2;



    }

    footer {
        margin-left: 55px;
        font-size: 20px;
        color: rgb(255, 255, 255);
        font-family: 'Lemon', serif;
        position: relative;
        top: 500px;

    }

    a {
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 6px;
        text-decoration: none;
        margin: 10px;
    }

    .img-maq {
        width: 180px;
        border-radius: 30px;
        position: relative;
        left: 100px;
        text-align: center;

    }

    p {
        position: static;
        top: 450px;
        left: 10px;
        font-size: 12.5px;
        line-height: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-indent: 1em;
        padding: 10px;
    }

    video {

        position: static;
        top: 700px;
        border-radius: 35px;
        left: 77px;
        height: 180px;
        width: 360px;



    }

    .formb {
        width: 80px;
        height: 25px;
        border-radius: 20px;
        background-color: rgb(242, 28, 145);
        border: none;
        color: white;
        font-size: 15px;
        cursor: grab;
        position: absolute;
        margin-top: 710px;
        margin-left: 5px;








    }

    .form {
        width: 160px;
        height: 25px;
        border-radius: 10px;
        border: none;
        padding: 10px;
        cursor: text;
        position: absolute;
        margin-top: 710px;
        margin-left: 90px;





    }

    .listas {
        color: rgb(228, 234, 234);
        margin-left: 30px;
        position: absolute;
        bottom: -450px;
        font-size: 18px;


    }

    h3 {
        color: aliceblue;
        position: absolute;
        bottom: -240px;
        margin-left: 18px;
        font-size: 16.5px;
        font-family: 'Courier New', Courier, monospace;

    }

    #p {
        width: 400px;
        margin-left: -18px;
        position: absolute;
        margin-top: 800px;
        font-size: 18px;
    }






}